{% extends "base.html" %}

{% block main %}
<div class="container mt-4">
  <h2>Minhas Clínicas</h2>
  {% for item in clinics %}
  <div class="card mb-3">
    <div class="card-body">
      <h3>{{ item.clinic.nome }}</h3>
      <a href="{{ url_for('clinic_detail', clinica_id=item.clinic.id) }}" class="btn btn-primary btn-sm mb-3">Acessar</a>
      <h5>Equipe</h5>
      <ul>
        {% for v in item.staff %}
        <li>{{ v.user.name }}</li>
        {% else %}
        <li>Nenhum veterinário.</li>
        {% endfor %}
      </ul>
      <h5>Próximos Agendamentos</h5>
      <ul>
        {% for ap in item.appointments %}
        <li>{{ ap.scheduled_at|format_datetime_brazil('%d/%m/%Y %H:%M') }} - {{ ap.animal.name }}</li>
        {% else %}
        <li>Nenhum agendamento.</li>
        {% endfor %}
      </ul>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
