{% macro _render_attrs(attrs) %}
  {%- if attrs -%}
    {%- for key, value in attrs.items() if value is not none -%}
      {%- set attr_name = key.replace('_', '-') -%}
      {%- if value is sameas(true) -%}
 {{ ' ' ~ attr_name }}
      {%- elif value is sameas(false) -%}
      {%- else -%}
 {{ ' ' ~ attr_name ~ '="' ~ value ~ '"' }}
      {%- endif -%}
    {%- endfor -%}
  {%- endif -%}
{% endmacro %}

{% macro ui_button(text=None, variant='primary', size='md', type='button', href=None, icon=None, block=False, extra_classes='', attributes=None) %}
  {%- set classes = ['ui-button', 'ui-button--' ~ variant] -%}
  {%- if size != 'md' -%}
    {%- set _ = classes.append('ui-button--' ~ size) -%}
  {%- endif -%}
  {%- if block -%}
    {%- set _ = classes.append('ui-button--block') -%}
  {%- endif -%}
  {%- if extra_classes -%}
    {%- for cls in extra_classes.split(' ') if cls -%}
      {%- set _ = classes.append(cls) -%}
    {%- endfor -%}
  {%- endif -%}
  {%- set content -%}
    {%- if caller is defined -%}
      {{ caller() | trim }}
    {%- else -%}
      {{ text }}
    {%- endif -%}
  {%- endset -%}
  {%- set attr_string = _render_attrs(attributes) -%}
  {%- if href -%}
    <a href="{{ href }}" class="{{ classes | reject('equalto', '') | join(' ') }}"{{ attr_string }}>
      {%- if icon -%}<i class="{{ icon }}"></i>{%- endif -%}
      {{ content | safe }}
    </a>
  {%- else -%}
    <button type="{{ type }}" class="{{ classes | reject('equalto', '') | join(' ') }}"{{ attr_string }}>
      {%- if icon -%}<i class="{{ icon }}"></i>{%- endif -%}
      {{ content | safe }}
    </button>
  {%- endif -%}
{% endmacro %}

{% macro ui_card(title=None, variant='surface', padded=True, extra_classes='', body_classes='', footer=None, attributes=None) %}
  {%- set classes = ['ui-card'] -%}
  {%- if variant -%}
    {%- set _ = classes.append('ui-card--' ~ variant) -%}
  {%- endif -%}
  {%- if not padded -%}
    {%- set _ = classes.append('ui-card--flush') -%}
  {%- endif -%}
  {%- if extra_classes -%}
    {%- for cls in extra_classes.split(' ') if cls -%}
      {%- set _ = classes.append(cls) -%}
    {%- endfor -%}
  {%- endif -%}
  {%- set attr_string = _render_attrs(attributes) -%}
  <div class="{{ classes | reject('equalto', '') | join(' ') }}"{{ attr_string }}>
    {%- if title -%}
      <div class="ui-card__header">{{ title }}</div>
    {%- endif -%}
    <div{% if body_classes %} class="{{ body_classes }}"{% endif %}>
      {%- if caller is defined -%}
        {{ caller() }}
      {%- endif -%}
    </div>
    {%- if footer -%}
      <div class="ui-card__footer">{{ footer }}</div>
    {%- endif -%}
  </div>
{% endmacro %}

{% macro ui_input(field=None, id=None, type='text', label=None, placeholder='', value=None, help_text=None, errors=None, extra_classes='', wrapper_classes='ui-field', input_attrs=None) %}
  {%- set input_attrs = input_attrs or {} -%}
  {%- set field_id = id or (field.id if field is not none else '') -%}
  {%- set label_text = label if label is not none else (field.label.text if field and field.label is not none else '') -%}
  {%- set field_errors = errors if errors is not none else (field.errors if field is not none else []) -%}
  <div class="{{ wrapper_classes }}">
    {%- if label_text -%}
      <label for="{{ field_id }}" class="ui-label">{{ label_text }}</label>
    {%- endif -%}
    {%- set classes = ['ui-input'] -%}
    {%- if extra_classes -%}
      {%- for cls in extra_classes.split(' ') if cls -%}
        {%- set _ = classes.append(cls) -%}
      {%- endfor -%}
    {%- endif -%}
    {%- if field is not none -%}
      {{ field(class=classes | join(' '), id=field_id, placeholder=placeholder, type=type{% if value is not none %}, value=value{% endif %}) }}
    {%- else -%}
      <input type="{{ type }}" id="{{ field_id }}" class="{{ classes | join(' ') }}" placeholder="{{ placeholder }}" value="{{ value if value is not none else '' }}"{{ _render_attrs(input_attrs) }}>
    {%- endif -%}
    {%- if help_text -%}
      <div class="ui-input__hint">{{ help_text }}</div>
    {%- endif -%}
    {%- for error in field_errors -%}
      <div class="ui-input__error">{{ error }}</div>
    {%- endfor -%}
  </div>
{% endmacro %}

{% macro ui_modal(modal_id, title=None, close_label='Fechar', extra_classes='', attributes=None) %}
  {%- set classes = ['ui-modal'] -%}
  {%- if extra_classes -%}
    {%- for cls in extra_classes.split(' ') if cls -%}
      {%- set _ = classes.append(cls) -%}
    {%- endfor -%}
  {%- endif -%}
  <div id="{{ modal_id }}" class="{{ classes | join(' ') }}"{{ _render_attrs(attributes) }}>
    <div class="ui-modal__dialog">
      <button type="button" class="ui-button ui-button--light ui-modal__close" data-modal-close="{{ modal_id }}">
        <span aria-hidden="true">&times;</span>
        <span class="visually-hidden">{{ close_label }}</span>
      </button>
      {%- if title -%}
        <div class="ui-card__header">{{ title }}</div>
      {%- endif -%}
      <div class="ui-modal__body">
        {%- if caller is defined -%}
          {{ caller() }}
        {%- endif -%}
      </div>
    </div>
  </div>
{% endmacro %}

{% macro ui_list(items, bordered=False, item_class='') %}
  {%- set classes = ['ui-list'] -%}
  {%- if bordered -%}
    {%- set _ = classes.append('ui-list--bordered') -%}
  {%- endif -%}
  <ul class="{{ classes | join(' ') }}">
    {%- for item in items -%}
      <li class="{{ item_class }}">{{ item }}</li>
    {%- endfor -%}
  </ul>
{% endmacro %}
