{% extends "layout.html" %}

{% block main %}
<div class="container mt-4">
  <h1 class="h3">Consulta agendada!</h1>
  <p>Sua consulta{% if appointment.animal %} para {{ appointment.animal.name }}{% endif %} está marcada para {{ appointment.scheduled_at|datetime_brazil }}{% if appointment.veterinario and appointment.veterinario.user %}, com {{ appointment.veterinario.user.name }}{% endif %}.</p>
  <a href="{{ url_for('appointments') }}" class="btn btn-primary">Ver agendamentos</a>
</div>
{% endblock %}
