{% extends "base.html" %}

{% block main %}
<div class="container mt-4">
  <h2>Agendar Retorno</h2>
  <p>Revise e confirme os dados para o retorno recomendado.</p>
  <form method="POST" action="{{ url_for('agendar_retorno', consulta_id=consulta.id) }}" class="row g-3">
    {{ form.hidden_tag() }}
    <div class="col-md-6">
      {{ form.animal_id.label(class="form-label") }}
      {{ form.animal_id(class="form-select") }}
    </div>
    <div class="col-md-6">
      {{ form.veterinario_id.label(class="form-label") }}
      {{ form.veterinario_id(class="form-select") }}
    </div>
    <div class="col-md-6">
      {{ form.date.label(class="form-label") }}
      {{ form.date(class="form-control") }}
    </div>
    <div class="col-md-6">
      {{ form.time.label(class="form-label") }}
      {{ form.time(class="form-control") }}
    </div>
    <div class="col-12">
      {{ form.reason.label(class="form-label") }}
      {{ form.reason(class="form-control") }}
    </div>
    <div class="col-12">
      {{ form.submit(class="btn btn-primary") }}
      <a href="{{ url_for('consulta_direct', animal_id=consulta.animal_id) }}" class="btn btn-secondary">Cancelar</a>
    </div>
  </form>
</div>
{% endblock %}
