{#
  Macro responsável por renderizar o logotipo da clínica ou o logotipo padrão do
  site. Também pode opcionalmente exibir um texto ao lado da imagem, utilizado
  nas áreas pública e administrativa do sistema.
#}
{% macro clinic_logo(clinica=None, text=None, alt_text=None, text_class='') %}
  {% if clinica and clinica.logotipo %}
 
    <img src="{{ clinica.logo_url }}" alt="Logotipo da clínica" class="logo-img rounded-0" style="transform: translate({{ clinica.photo_offset_x or 0 }}px, {{ clinica.photo_offset_y or 0 }}px) rotate({{ clinica.photo_rotation or 0 }}deg) scale({{ clinica.photo_zoom or 1 }});">
 
  {% endif %}
{% endmacro %}
