{% extends "layout.html" %}
{% block main %}

<h2>Conversando sobre {{ animal.name }} com {{ outro_usuario.name }}</h2>

<div id="mensagens-container" class="border p-3 mb-3 rounded" style="max-height: 400px; overflow-y: auto;">
    {% for msg in mensagens %}
        <div class="mb-2 {% if msg.sender_id == current_user.id %}text-end{% endif %}">
            <div class="p-2 rounded {% if msg.sender_id == current_user.id %}bg-info-subtle{% else %}bg-light{% endif %}">
                <small>{{ msg.sender.name }}:</small><br>
                {{ msg.content }}
                <div class="text-muted small">{{ msg.timestamp|format_datetime_brazil('%d/%m %H:%M') }}</div>
            </div>
        </div>
    {% endfor %}
</div>


<form method="POST" class="js-msg-form" data-api="{{ url_for('api_conversa_message', animal_id=animal.id, user_id=outro_usuario.id) }}">
    {{ form.hidden_tag() }}
    <div class="input-group">

        {{ form.content(class="form-control", placeholder="Digite sua mensagem...") }}

        {% if current_user.id != animal.owner.id and animal.modo in ['doação', 'venda'] %}
            <a href="{{ url_for('termo_interesse', animal_id=animal.id, user_id=current_user.id) }}"
               class="btn btn-success ms-2 me-2" title="Confirmar interesse">
                {% if animal.modo == 'doação' %}
                    Quero Adotar
                {% elif animal.modo == 'venda' %}
                    Quero Comprar
                {% endif %}
            </a>
        {% endif %}

        {% if current_user.id == animal.owner.id and interesse_existente %}
            <a href="{{ url_for('termo_transferencia', animal_id=animal.id, user_id=outro_usuario.id) }}"
            class="btn btn-success mt-2">
                Transferir Tutoria
            </a>
        {% endif %}


        <button type="submit" class="btn btn-primary">Enviar</button>
    </div>


</form>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    const container = document.getElementById('mensagens-container');
    if (container) {
      container.scrollTop = container.scrollHeight;
    }
  });
</script>





{% endblock %}
